:root{
  --preto: #191919;
  --cinza: #333;
  --azul: #25aae2;
  --branco: #eaeaea;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #333;
}