.container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center; 
}

.config{
 color: #eaeaea;   
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}