.rodape{
    position: sticky;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.rodape p{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.rodape ul{
    display: flex;
    gap: 1.5em;
}

.rodape ul svg{
    color: #333;
    font-size: 40px;
    transition: .6s;
    padding: 5px;
    border-radius: 3px;
}

.rodape ul svg:hover{
    transform: scale(1.1);
    background-color: aliceblue;
}